<template>
    <div>
        <article-form :id="id"></article-form>
    </div>
</template>

<script>
    import ArticleForm from './form';
    import helper from '../../services/helper'

    export default {
        components : { ArticleForm },
        data() {
            return {
                id:this.$route.params.id
            }
        }
    }
</script>