<template>
    <div class="row">

        <div class="page-titles col-md-12 col-8 align-self-center" v-if="id">
            <h3 class="text-themecolor m-b-0 m-t-0">Edit Article</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/article">Article</router-link></li>
                <li class="breadcrumb-item active">Edit Article</li>
            </ol>
        </div>

        <div class="page-titles col-md-12 col-8 align-self-center" v-else>
            <h3 class="text-themecolor m-b-0 m-t-0">Add Article</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/article">Article</router-link></li>
                <li class="breadcrumb-item active">Add Article</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span v-if="id">Edit Article</span>
                        <span v-else>Add Article</span>
                    </h4>
                    <form @submit.prevent="proceed" ref="formArticle">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" value="" v-model="articleForm.title"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <quill-editor v-model="articleForm.desc"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <multiselect v-model="articleForm.category" :options="category_options" :custom-label="nameWithLang" placeholder="Select one" label="name"></multiselect>
                                </div>
                                <div class="form-group">
                                    <label>Picture</label>
                                    <input class="form-control" type="file" id="article-picture" value="" @change="previewImage" />
                                    <div class="text-center">
                                        <img :src="picture" class="img-responsive" style="max-width:200px;">
                                    </div>
                                    <!-- <div class="text-center">
                                        <button type="button" class="btn btn-danger waves-effect waves-light m-t-10" v-if="picture" @click="cancelUploadImage">Cancel Upload</button>
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <label>Tag</label>
                                    <!-- <input class="form-control" type="text" value="" v-model="articleForm.tag"/> -->
                                    <multiselect v-model="articleForm.tag" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="language" :options="tag_options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">
                            <span v-if="id">Update</span>
                            <span v-else>Save</span>
                        </button>
                        <router-link to="/article" class="btn btn-danger waves-effect waves-light m-t-10">Cancel</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import helper from '../../services/helper'
    import router from 'vue-router'
    import Multiselect from 'vue-multiselect'

    export default {
        data() {
            return {
                editorOption: { /* quill options */ },
                articleForm: new Form({
                    'title' : '',
                    'category' : [],
                    'desc' : '',
                    'pic' : '',
                    'is_pic_change' : false,
                    'tag' : [],
                }),
                category_options : [
                    { name: 'Promo', language: 'Promo' },
                    { name: 'Event', language: 'Event' },
                    { name: 'News', language: 'News' },
                ],
                tag_options: [
                ],
                url: null,
                picture: '',
            }
        },
        components : { Multiselect },
        props : ['id'],
        mounted() {
            if (this.id)
                this.getArticle();
        },
        methods : {
            proceed() {
                if (this.id)
                    this.updateArticle();
                else
                    this.storeArticle();
            },
            storeArticle() {
                let loader = this.$loading.show();
                this.articleForm.post('/api/v1/article', {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/article')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            },
            getArticle() {
                axios.get('/api/v1/article/'+this.id)
                    .then(response => {
                        this.articleForm.title = response.data.title;
                        this.articleForm.desc = response.data.desc;
                        this.articleForm.pic = response.data.pic;
                        this.articleForm.category = this.category_options.find(function(value, index) {
                            if(value.name == response.data.category){
                                return [{ name: value.name, language: value.language }];
                            }
                        });
                        this.articleForm.tag = response.data.tag;
                    })
                    .catch(response => {
                        toastr['error'](response.message);
                    })
            },
            nameWithLang ({ name, language }) {
                return `${language}`
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    language: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.tag_options.push(tag)
                this.articleForm.tag.push(tag)
            },
            previewImage(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.articleForm.pic = e.target.result;
                    this.articleForm.is_pic_change = true;
                    this.picture = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUploadImage(){
                this.picture = '';
            },
            updateArticle() {
                let loader = this.$loading.show();
                this.articleForm.patch('/api/v1/article/'+this.id)
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/article')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            }
        }
    }
</script>
