<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-12 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Article</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                    <li class="breadcrumb-item active">Article</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Filter Article</h4>
                        
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input class="form-control" v-model="filterArticleForm.title" @blur="getArticle">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input class="form-control" v-model="filterArticleForm.desc" @blur="getArticle">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Category</label>
                                    <input class="form-control" v-model="filterArticleForm.category" @blur="getArticle">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Sort By</label>
                                    <select name="sortBy" class="form-control" v-model="filterArticleForm.sortBy" @change="getArticle">
                                        <option value="title">Title</option>
                                        <option value="desc">Description</option>
                                        <option value="category">Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Order</label>
                                    <select name="order" class="form-control" v-model="filterArticleForm.order" @change="getArticle">
                                        <option value="asc">Asc</option>
                                        <option value="desc">Desc</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Article List</h4>
                        <router-link to="/add-article"><button class="btn badge-info float-right" style="margin-top: -30px" data-toggle="tooltip" title="Add Article"><i class="fa fa-plus-circle" ></i></button></router-link>
                        <h6 class="card-subtitle" v-if="m_article.total">Total {{m_article.total}} result found!</h6>
                        <h6 class="card-subtitle" v-else>No result found!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="m_article.total">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <!-- <th>Tag</th> -->
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="article in m_article.data">
                                        <td v-text="article.title"></td>
                                        <!-- <td v-text="article.tag"></td> -->
                                        <td v-text="article.category"></td>
                                        <td v-html="article.desc.substring(0, 100)"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm float-left margin-correction" @click.prevent="editArticle(article)" data-toggle="tooltip" title="Edit Article"><i class="fa fa-pencil"></i></button>
                                            <click-confirm yes-class="btn btn-success" no-class="btn btn-danger">
                                                <button class="btn btn-danger btn-sm" @click.prevent="deleteArticle(article)" data-toggle="tooltip" title="Delete Article"><i class="fa fa-trash"></i></button>
                                            </click-confirm>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="m_article" :limit=3 v-on:pagination-change-page="getArticle"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filterArticleForm.pageLength" @change="getArticle" v-if="m_article.total">
                                            <option value="5">5 per page</option>
                                            <option value="10">10 per page</option>
                                            <option value="25">25 per page</option>
                                            <option value="100">100 per page</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'

    export default {
        components : { pagination, ClickConfirm },
        data() {
            return {
                m_article: {},
                filterArticleForm: {
                    sortBy : 'title',
                    order: 'desc',
                    status: '',
                    title: '',
                    pageLength: 5
                }
            }
        },
        mounted() {
            this.getArticle();
        },
        methods: {
            getArticle(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterArticleForm);
                axios.get('/api/v1/article?page=' + page + url)
                    .then(response => this.m_article = response.data );
            },
            deleteArticle(m_article){
                axios.delete('/api/v1/article/'+m_article.id).then(response => {
                    // console.log(response);
                    toastr['success'](response.data.message);
                    this.getArticle();
                }).catch(response => {
                    toastr['error'](response.data.message);
                });
            },
            editArticle(m_article){
                this.$router.push('/article/'+m_article.id+'/edit');
            },
        },
        filters: {
            moment(date) {
                return helper.formatDate(date);
            },
            ucword(value) {
                return helper.ucword(value);
            }
        }
    }
</script>
