<template>
    <div>
        <arena-form :id="id"></arena-form>
    </div>
</template>

<script>
    import ArenaForm from './form';
    import helper from '../../services/helper'

    export default {
        components : { ArenaForm },
        data() {
            return {
                id:this.$route.params.id
            }
        }
    }
</script>