<template>
    <div class="row">

        <div class="page-titles col-md-12 col-8 align-self-center" v-if="id">
            <h3 class="text-themecolor m-b-0 m-t-0">Edit Arena</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/arena">Arena</router-link></li>
                <li class="breadcrumb-item active">Edit Arena</li>
            </ol>
        </div>

        <div class="page-titles col-md-12 col-8 align-self-center" v-else>
            <h3 class="text-themecolor m-b-0 m-t-0">Add Arena</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/arena">Arena</router-link></li>
                <li class="breadcrumb-item active">Add Arena</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span v-if="id">Edit Arena</span>
                        <span v-else>Add Arena</span>
                    </h4>
                    <form @submit.prevent="proceed" ref="formArena">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" value="" v-model="arenaForm.name"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <quill-editor v-model="arenaForm.desc"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <quill-editor v-model="arenaForm.price"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                    <!-- <my-currency-input v-model="arenaForm.price"></my-currency-input> -->
                                </div>
                                <div class="form-group">
                                    <label>Operational Time</label>
                                    <quill-editor v-model="arenaForm.operasional_time"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                </div>
                                <div class="form-group">
                                    <label>Picture</label>
                                    <input class="form-control" type="file" id="arena-picture" value="" @change="previewImage" />
                                    <div class="text-center">
                                        <img :src="picture" class="img-responsive" style="max-width:200px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">
                            <span v-if="id">Update</span>
                            <span v-else>Save</span>
                        </button>
                        <router-link to="/arena" class="btn btn-danger waves-effect waves-light m-t-10">Cancel</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import helper from '../../services/helper'
    import router from 'vue-router'
    import Multiselect from 'vue-multiselect'

    export default {
        data() {
            return {
                editorOption: { /* quill options */ },
                arenaForm: new Form({
                    'name' : '',
                    'price' : '',
                    'operasional_time' : '',
                    'desc' : '',
                    'pic' : '',
                    'is_pic_change' : false,
                }),
                picture: '',
            }
        },
        components : { Multiselect },
        props : ['id'],
        mounted() {
            if (this.id)
                this.getArena();
        },
        methods : {
            proceed() {
                if (this.id)
                    this.updateArena();
                else
                    this.storeArena();
            },
            storeArena() {
                let loader = this.$loading.show();
                this.arenaForm.post('/api/v1/arena', {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/arena')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            },
            getArena() {
                axios.get('/api/v1/arena/'+this.id)
                    .then(response => {
                        this.arenaForm.name = response.data.name;
                        this.arenaForm.desc = response.data.desc;
                        this.arenaForm.price = response.data.price;
                        this.arenaForm.operasional_time = response.data.operasional_time;
                        this.arenaForm.pic = response.data.pic;
                    })
                    .catch(response => {
                        toastr['error'](response.message);
                    })
            },
            nameWithLang ({ name, language }) {
                return `${language}`
            },
            previewImage(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.arenaForm.pic = e.target.result;
                    this.arenaForm.is_pic_change = true;
                    this.picture = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUploadImage(){
                this.picture = '';
            },
            updateArena() {
                let loader = this.$loading.show();
                this.arenaForm.patch('/api/v1/arena/'+this.id)
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/arena')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            }
        }
    }
</script>
