<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-12 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Arena</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                    <li class="breadcrumb-item active">Arena</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Filter Arena</h4>
                        
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" v-model="filterArenaForm.name" @blur="getArena">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input class="form-control" v-model="filterArenaForm.desc" @blur="getArena">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input class="form-control" v-model="filterArenaForm.price" @blur="getArena">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Sort By</label>
                                    <select name="sortBy" class="form-control" v-model="filterArenaForm.sortBy" @change="getArena">
                                        <option value="name">Name</option>
                                        <option value="desc">Description</option>
                                        <option value="price">Price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Order</label>
                                    <select name="order" class="form-control" v-model="filterArenaForm.order" @change="getArena">
                                        <option value="asc">Asc</option>
                                        <option value="desc">Desc</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Arena List</h4>
                        <router-link to="/add-arena"><button class="btn badge-info float-right" style="margin-top: -30px" data-toggle="tooltip" title="Add Arena"><i class="fa fa-plus-circle" ></i></button></router-link>
                        <h6 class="card-subtitle" v-if="m_arena.total">Total {{m_arena.total}} result found!</h6>
                        <h6 class="card-subtitle" v-else>No result found!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="m_arena.total">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="arena in m_arena.data">
                                        <td v-text="arena.name"></td>
                                        <td v-html="arena.price.substring(0, 100)"></td>
                                        <td v-html="arena.desc.substring(0, 100)"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm float-left margin-correction" @click.prevent="editArena(arena)" data-toggle="tooltip" title="Edit Arena"><i class="fa fa-pencil"></i></button>
                                            <click-confirm yes-class="btn btn-success" no-class="btn btn-danger">
                                                <button class="btn btn-danger btn-sm" @click.prevent="deleteArena(arena)" data-toggle="tooltip" title="Delete Arena"><i class="fa fa-trash"></i></button>
                                            </click-confirm>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="m_arena" :limit=3 v-on:pagination-change-page="getArena"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filterArenaForm.pageLength" @change="getArena" v-if="m_arena.total">
                                            <option value="5">5 per page</option>
                                            <option value="10">10 per page</option>
                                            <option value="25">25 per page</option>
                                            <option value="100">100 per page</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'

    export default {
        components : { pagination, ClickConfirm },
        data() {
            return {
                m_arena: {},
                filterArenaForm: {
                    sortBy : 'name',
                    order: 'desc',
                    status: '',
                    title: '',
                    pageLength: 5
                }
            }
        },
        mounted() {
            this.getArena();
        },
        methods: {
            getArena(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterArenaForm);
                axios.get('/api/v1/arena?page=' + page + url)
                    .then(response => this.m_arena = response.data );
            },
            deleteArena(m_arena){
                axios.delete('/api/v1/arena/'+m_arena.id).then(response => {
                    // console.log(response);
                    toastr['success'](response.data.message);
                    this.getArena();
                }).catch(response => {
                    toastr['error'](response.data.message);
                });
            },
            editArena(m_arena){
                this.$router.push('/arena/'+m_arena.id+'/edit');
            },
        },
        filters: {
            moment(date) {
                return helper.formatDate(date);
            },
            ucword(value) {
                return helper.ucword(value);
            }
        }
    }
</script>
