<template>
    <div>
        <product-form :id="id"></product-form>
    </div>
</template>

<script>
    import ProductForm from './form';
    import helper from '../../services/helper'

    export default {
        components : { ProductForm },
        data() {
            return {
                id:this.$route.params.id
            }
        }
    }
</script>