<template>
    <div class="row">

        <div class="page-titles col-md-12 col-8 align-self-center" v-if="id">
            <h3 class="text-themecolor m-b-0 m-t-0">Edit Slider</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/slider">Slider</router-link></li>
                <li class="breadcrumb-item active">Edit Slider</li>
            </ol>
        </div>

        <div class="page-titles col-md-12 col-8 align-self-center" v-else>
            <h3 class="text-themecolor m-b-0 m-t-0">Add Slider</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/slider">Slider</router-link></li>
                <li class="breadcrumb-item active">Add Slider</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span v-if="id">Edit Slider</span>
                        <span v-else>Add Slider</span>
                    </h4>
                    <form @submit.prevent="proceed" ref="formSlider">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" value="" v-model="sliderForm.title"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <quill-editor v-model="sliderForm.desc"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                </div>
                                <div class="form-group">
                                    <label>Picture Mobile</label>
                                    <input class="form-control" type="file" id="slider-picture" value="" @change="previewImage" />
                                    <div class="text-center">
                                        <img :src="picture" class="img-responsive" style="max-width:200px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Picture Desktop</label>
                                    <input class="form-control" type="file" id="slider-picture-desktop" value="" @change="previewImageDesktop" />
                                    <div class="text-center">
                                        <img :src="picture_desktop" class="img-responsive" style="max-width:200px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>URL</label>
                                    <input class="form-control" type="text" value="" v-model="sliderForm.url"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">
                            <span v-if="id">Update</span>
                            <span v-else>Save</span>
                        </button>
                        <router-link to="/slider" class="btn btn-danger waves-effect waves-light m-t-10">Cancel</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import helper from '../../services/helper'
    import router from 'vue-router'
    import Multiselect from 'vue-multiselect'

    export default {
        data() {
            return {
                editorOption: { /* quill options */ },
                sliderForm: new Form({
                    'title' : '',
                    'desc' : '',
                    'pic_mobile' : '',
                    'pic_desktop' : '',
                    'is_pic_change' : false,
                    'is_pic_desktop_change' : false,
                    'url' : '',
                }),
                picture: '',
                picture_desktop: '',
            }
        },
        components : { Multiselect },
        props : ['id'],
        mounted() {
            if (this.id)
                this.getSlider();
        },
        methods : {
            proceed() {
                if (this.id)
                    this.updateSlider();
                else
                    this.storeSlider();
            },
            storeSlider() {
                let loader = this.$loading.show();
                this.sliderForm.post('/api/v1/slider', {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/slider')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            },
            getSlider() {
                axios.get('/api/v1/slider/'+this.id)
                    .then(response => {
                        this.sliderForm.title = response.data.title;
                        this.sliderForm.desc = response.data.desc;
                        this.sliderForm.pic_mobile = response.data.pic_mobile;
                        this.sliderForm.pic_desktop = response.data.pic_desktop;
                        this.sliderForm.url = response.data.url;
                    })
                    .catch(response => {
                        toastr['error'](response.message);
                    })
            },
            nameWithLang ({ name, language }) {
                return `${language}`
            },
            previewImage(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.sliderForm.pic_mobile = e.target.result;
                    this.sliderForm.is_pic_change = true;
                    this.picture = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUploadImage(){
                this.picture = '';
            },
            previewImageDesktop(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImageDesktop(files[0]);
            },
            createImageDesktop(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.sliderForm.pic_desktop = e.target.result;
                    this.sliderForm.is_pic_desktop_change = true;
                    this.picture_desktop = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUploadImageDesktop(){
                this.picture_desktop = '';
            },
            updateSlider() {
                let loader = this.$loading.show();
                this.sliderForm.patch('/api/v1/slider/'+this.id)
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/slider')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            }
        }
    }
</script>
