<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-12 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Slider</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                    <li class="breadcrumb-item active">Slider</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Filter Slider</h4>
                        
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input class="form-control" v-model="filterSliderForm.title" @blur="getSlider">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input class="form-control" v-model="filterSliderForm.desc" @blur="getSlider">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">URL</label>
                                    <input class="form-control" v-model="filterSliderForm.url" @blur="getSlider">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Sort By</label>
                                    <select name="sortBy" class="form-control" v-model="filterSliderForm.sortBy" @change="getSlider">
                                        <option value="title">Title</option>
                                        <option value="desc">Description</option>
                                        <option value="url">URL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Order</label>
                                    <select name="order" class="form-control" v-model="filterSliderForm.order" @change="getSlider">
                                        <option value="asc">Asc</option>
                                        <option value="desc">Desc</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Slider List</h4>
                        <router-link to="/add-slider"><button class="btn badge-info float-right" style="margin-top: -30px" data-toggle="tooltip" title="Add Slider"><i class="fa fa-plus-circle" ></i></button></router-link>
                        <h6 class="card-subtitle" v-if="m_slider.total">Total {{m_slider.total}} result found!</h6>
                        <h6 class="card-subtitle" v-else>No result found!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="m_slider.total">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>URL</th>
                                        <th>Description</th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="slider in m_slider.data">
                                        <td v-text="slider.title"></td>
                                        <td v-text="slider.url"></td>
                                        <td v-if="slider.desc != ''" v-html="slider.desc.substring(0, 100)"></td>
                                        <td v-else v-html="slider.desc"></td>
                                        <td> 
                                            <button class="btn btn-info btn-sm float-left margin-correction" @click.prevent="editSlider(slider)" data-toggle="tooltip" title="Edit Slider"><i class="fa fa-pencil"></i></button>
                                            <click-confirm yes-class="btn btn-success" no-class="btn btn-danger">
                                                <button class="btn btn-danger btn-sm" @click.prevent="deleteSlider(slider)" data-toggle="tooltip" title="Delete Slider"><i class="fa fa-trash"></i></button>
                                            </click-confirm>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="m_slider" :limit=3 v-on:pagination-change-page="getSlider"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filterSliderForm.pageLength" @change="getSlider" v-if="m_slider.total">
                                            <option value="5">5 per page</option>
                                            <option value="10">10 per page</option>
                                            <option value="25">25 per page</option>
                                            <option value="100">100 per page</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'

    export default {
        components : { pagination, ClickConfirm },
        data() {
            return {
                m_slider: {},
                filterSliderForm: {
                    sortBy : 'title',
                    order: 'desc',
                    status: '',
                    title: '',
                    pageLength: 5
                }
            }
        },
        mounted() {
            this.getSlider();
        },
        methods: {
            getSlider(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterSliderForm);
                axios.get('/api/v1/slider?page=' + page + url)
                    .then(response => this.m_slider = response.data );
            },
            deleteSlider(m_slider){
                axios.delete('/api/v1/slider/'+m_slider.id).then(response => {
                    // console.log(response);
                    toastr['success'](response.data.message);
                    this.getSlider();
                }).catch(response => {
                    toastr['error'](response.data.message);
                });
            },
            editSlider(m_slider){
                this.$router.push('/slider/'+m_slider.id+'/edit');
            },
        },
        filters: {
            moment(date) {
                return helper.formatDate(date);
            },
            ucword(value) {
                return helper.ucword(value);
            }
        }
    }
</script>
