<template>
    <div class="row">

        <div class="page-titles col-md-12 col-8 align-self-center" v-if="id">
            <h3 class="text-themecolor m-b-0 m-t-0">Edit Product</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/product">Product</router-link></li>
                <li class="breadcrumb-item active">Edit Product</li>
            </ol>
        </div>

        <div class="page-titles col-md-12 col-8 align-self-center" v-else>
            <h3 class="text-themecolor m-b-0 m-t-0">Add Product</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                <li class="breadcrumb-item"><router-link to="/product">Product</router-link></li>
                <li class="breadcrumb-item active">Add Product</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span v-if="id">Edit Product</span>
                        <span v-else>Add Product</span>
                    </h4>
                    <form @submit.prevent="proceed" ref="formProduct">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" value="" v-model="productForm.title"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <quill-editor v-model="productForm.desc"
                                                    ref="myQuillEditor"
                                                    :options="editorOption" >
                                    </quill-editor>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <my-currency-input v-model="productForm.price"></my-currency-input>
                                </div>
                                <div class="form-group">
                                    <label>Discount Price</label>
                                    <my-currency-input v-model="productForm.discount_price"></my-currency-input>
                                </div>
                                <div class="form-group">
                                    <label>Picture</label>
                                    <input class="form-control" type="file" id="product-picture" value="" @change="previewImage" />
                                    <div class="text-center">
                                        <img :src="picture" class="img-responsive" style="max-width:200px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tag</label>
                                    <multiselect v-model="productForm.tag" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="language" :options="tag_options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">
                            <span v-if="id">Update</span>
                            <span v-else>Save</span>
                        </button>
                        <router-link to="/product" class="btn btn-danger waves-effect waves-light m-t-10">Cancel</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import helper from '../../services/helper'
    import router from 'vue-router'
    import Multiselect from 'vue-multiselect'

    export default {
        data() {
            return {
                editorOption: { /* quill options */ },
                productForm: new Form({
                    'title' : '',
                    'price' : '',
                    'discount_price' : '',
                    'desc' : '',
                    'pic' : '',
                    'is_pic_change' : false,
                    'tag' : [],
                }),
                tag_options: [
                    // { name: 'Vue.js', language: 'vu' },
                    // { name: 'Javascript', language: 'js' },
                    // { name: 'Open Source', language: 'os' }
                ],
                picture: '',
            }
        },
        components : { Multiselect },
        props : ['id'],
        mounted() {
            if (this.id)
                this.getProduct();
        },
        methods : {
            proceed() {
                if (this.id)
                    this.updateProduct();
                else
                    this.storeProduct();
            },
            storeProduct() {
                let loader = this.$loading.show();
                this.productForm.post('/api/v1/product', {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/product')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            },
            getProduct() {
                axios.get('/api/v1/product/'+this.id)
                    .then(response => {
                        this.productForm.title = response.data.title;
                        this.productForm.desc = response.data.desc;
                        this.productForm.price = response.data.price;
                        this.productForm.discount_price = response.data.discount_price;
                        this.productForm.pic = response.data.pic;
                        this.productForm.tag = response.data.tag;
                    })
                    .catch(response => {
                        toastr['error'](response.message);
                    })
            },
            nameWithLang ({ name, language }) {
                return `${language}`
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    language: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.tag_options.push(tag)
                this.productForm.tag.push(tag)
            },
            previewImage(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.productForm.pic = e.target.result;
                    this.productForm.is_pic_change = true;
                    this.picture = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUploadImage(){
                this.picture = '';
            },
            updateProduct() {
                let loader = this.$loading.show();
                this.productForm.patch('/api/v1/product/'+this.id)
                    .then(response => {
                        loader.hide()
                        toastr['success'](response.message);
                        this.$router.push('/product')
                    })
                    .catch(response => {
                        loader.hide()
                        toastr['error'](response.message);
                    })
            }
        }
    }
</script>
