<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-12 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Product</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Filter Product</h4>
                        
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input class="form-control" v-model="filterProductForm.title" @blur="getProduct">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input class="form-control" v-model="filterProductForm.desc" @blur="getProduct">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input class="form-control" v-model="filterProductForm.price" @blur="getProduct">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Sort By</label>
                                    <select name="sortBy" class="form-control" v-model="filterProductForm.sortBy" @change="getProduct">
                                        <option value="title">Title</option>
                                        <option value="desc">Description</option>
                                        <option value="price">Price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Order</label>
                                    <select name="order" class="form-control" v-model="filterProductForm.order" @change="getProduct">
                                        <option value="asc">Asc</option>
                                        <option value="desc">Desc</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Product List</h4>
                        <router-link to="/add-product"><button class="btn badge-info float-right" style="margin-top: -30px" data-toggle="tooltip" title="Add Product"><i class="fa fa-plus-circle" ></i></button></router-link>
                        <h6 class="card-subtitle" v-if="m_product.total">Total {{m_product.total}} result found!</h6>
                        <h6 class="card-subtitle" v-else>No result found!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="m_product.total">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Discount Price</th>
                                        <th>Description</th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="product in m_product.data">
                                        <td v-text="product.title"></td>
                                        <td v-text="product.price"></td>
                                        <td v-text="product.discount_price"></td>
                                        <td v-html="product.desc.substring(0, 100)"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm float-left margin-correction" @click.prevent="editProduct(product)" data-toggle="tooltip" title="Edit Product"><i class="fa fa-pencil"></i></button>
                                            <click-confirm yes-class="btn btn-success" no-class="btn btn-danger">
                                                <button class="btn btn-danger btn-sm" @click.prevent="deleteProduct(product)" data-toggle="tooltip" title="Delete Product"><i class="fa fa-trash"></i></button>
                                            </click-confirm>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="m_product" :limit=3 v-on:pagination-change-page="getProduct"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filterProductForm.pageLength" @change="getProduct" v-if="m_product.total">
                                            <option value="5">5 per page</option>
                                            <option value="10">10 per page</option>
                                            <option value="25">25 per page</option>
                                            <option value="100">100 per page</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'

    export default {
        components : { pagination, ClickConfirm },
        data() {
            return {
                m_product: {},
                filterProductForm: {
                    sortBy : 'title',
                    order: 'desc',
                    status: '',
                    title: '',
                    pageLength: 5
                }
            }
        },
        mounted() {
            this.getProduct();
        },
        methods: {
            getProduct(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterProductForm);
                axios.get('/api/v1/product?page=' + page + url)
                    .then(response => this.m_product = response.data );
            },
            deleteProduct(m_product){
                axios.delete('/api/v1/product/'+m_product.id).then(response => {
                    // console.log(response);
                    toastr['success'](response.data.message);
                    this.getProduct();
                }).catch(response => {
                    toastr['error'](response.data.message);
                });
            },
            editProduct(m_product){
                this.$router.push('/product/'+m_product.id+'/edit');
            },
        },
        filters: {
            moment(date) {
                return helper.formatDate(date);
            },
            ucword(value) {
                return helper.ucword(value);
            }
        }
    }
</script>
